html {
    width: 100%;
    height: 100%;
    font-family: 'Manrope', sans-serif;
    min-width: 500px;
}

body {
    margin: 0;
    height: 100%;
}

header {
    width: 100%;
    height: 70px;
    background-color: #6155a9;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    color: white;
    font-size: 20pt;
    margin-left: 20px;
    cursor: pointer;
}

div#toMain {
    margin-right: 20px;
    font-size: 20pt;
}

div#toMain a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

div#toMain a:hover {
    color: black;
    transition: .5s;
}

main {
    display: flex;
    width: 100%;
    align-items: center;
}

.fragmentForInputs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fragmentForInputs form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    height: 40px;
    border: 3px solid #b5b5b5;
    margin-bottom: 10px;
    border-radius: 10px;
}

input[type="text"] {
    height: 40px;
    border: 3px solid #b5b5b5;
    margin-bottom: 10px;
    border-radius: 10px;
}

input[type="password"] {
    height: 40px;
    border: 3px solid #b5b5b5;
    margin-bottom: 10px;
    border-radius: 10px;
}

input[type="number"] {
    height: 40px;
    border: 3px solid #b5b5b5;
    margin-bottom: 10px;
    border-radius: 10px;
}

input[type="submit"] {
    height: 40px;
    border: 3px solid #b5b5b5;
    margin-bottom: 10px;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #4a4375;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

div#contacts {
    color: white;
    font-size: 14pt;
    margin-right: 20px;
}

.userPlace {
    color: white;
    font-size: 14pt;
    cursor: pointer;
}

#content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userOptions {
    background: #e6e1ff;
    padding: 40px;
    margin-top: 80px;
}

#userOptionsBlocks {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
}

.innerOptionsBlock {
  border: 2px black solid;
  width: 300px;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

#accountsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.accountItem {
    border: 1px #999 solid;
    height: 70px;
    width: 95%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#transactionsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.transactionItem {
    border: 1px #999 solid;
    height: 70px;
    width: 95%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1250px) {

    #userOptionsBlocks {
      flex-direction: column;
      align-items: center;
    }

    .innerOptionsBlock {
      width: 80%;
      margin-bottom: 20px;
    }

}
